*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b0d10;
    color: #e6e6e6;
}

.navbar{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: rgba(16, 4, 57, 0.9);
    border-bottom: 1px solid rgba(223, 217, 243, 0.9);
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-left nav{
    display: flex;
    gap: 40px;
}

#navlogo{
    height: 30px;
    display: block;
}

.navbar a{
    color: #e6e6e6;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover{
    opacity: 0.8;
}

.nav-right a{
    font-weight: 600;
}

.Projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
    gap: 50px;
    justify-content: center;
    margin-inline: auto;
    padding: 40px 24px;

}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
}

.project-card:hover img {
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(11, 13, 16, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.project-card:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.overlay p {
    font-size: 14px;
    opacity: 0.75;
}